/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #222;
}

/* Header */

.header{
    background-color: #90c0e2;
    padding: 18px 60px;
    border-bottom: 1px solid #e5e5e5;
}

/* Container */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo h1{
    color: #f42731;
    font-size: 30px;
    font-weight: bold;
}

.logo h1::after{
    content: ".";
    color: royalblue;
}

/* Navigation */

.nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav ul li a{
    text-decoration:none;
    color:#555;
    font-size:16px;
    transition:.3s;
}

.nav ul li a:hover{
    color:#fa0404;
}

/* Search Box */

.search-box{
    display:flex;
    align-items:center;
    background:#f2f2f2;
    border-radius:25px;
    padding:8px 15px;
    width:200px;
}

.search-box span{
    margin-right:8px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
}

/* Cart & User Icons */
.cart-icon button,
.user-icon button{
    background:none;
    border:none;
    font-size:22px;
    cursor:pointer;
}

.cart-icon button:hover,
.user-icon button:hover{
    color:#ff0000;
}

/* Main Section */

main{
    width:100%;
    overflow:hidden;
}

/* Hero */

.hero{
    padding:40px 60px;
    min-height:70vh;
    display:flex;
    align-items:center;
}

.hero .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

/* Left Side */

.left{
    flex:1;
}

.left h1{
    font-size:60px;
    line-height:1.1;
    margin-bottom:20px;
}

.left p{
    font-size:18px;
    color:#666;
    width:80%;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#222;
    color:white;
    text-decoration:none;
    border-radius:40px;
    transition:.3s;
}

.btn:hover{
    background:#ff0000;
}

/* Right Side */

.right{
    flex:1;
    display:flex;
    justify-content:center;
}

.right img{
    width:350px;
    height:250px;
    max-width:100%;
    border-radius:20px;
    box-shadow:none;
    margin-top:0;
}

/* services-overview */

.services{
    background:#90c0e2;
    padding:25px 0;
}

.services .container{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.services .container div{
    text-align:center;
    color:white;
}

.services h2{
    font-size:20px;
    margin-bottom:5px;
}

.services p{
    font-size:18px;
}